{% extends 'layout.html' %}

{% block content %}
<h1 class="display-5 text-center">Welcome!</h1>
<div class="row mt-5">
    <div class="col intro-container">
        <h5>What is this website?</h5>
        <span>
            Place Icon here
        </span>
        <p class="text-justify mt-4">
            Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. 
        </p>
    </div>
    <div class="col intro-container">
        <h5>How does it work?</h5>
        <span class>
            Place Icon here
        </span>
        <p class="text-justify mt-4">
            Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. 
        </p>
    </div>
    <div class="col intro-container">
        <h5>Why did we build it?</h5>
        <span>
            Place Icon here
        </span>
        <p class="text-justify mt-4">
            Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. 
        </p>
    </div>
</div>
{% endblock %}
