{% extends '../layout.html' %}

{% block content %}
<div>
    <form action="USData/search" method="GET">
        <div class="row">
            <div class="col form-group">
                <input name="County" type="text" class="form-control" placeholder="County" required>
            </div>
            <div class="col form-group">
                <input name="State" type="text" class="form-control" placeholder="State" required>
            </div>
            <div class="col form-group">
                <select name="TypeOfData" class="form-control" required>
                    <option value="" disabled selected hidden>Choose...</option>
                    <option value="1">Number of confirmed cases per day</option>
                    <option value="2">Number of deaths per day</option>
                    <option value="3">Number of recovered cases per day</option>
                </select>
            </div>
            <div class="col">
                <button onclick="cleanURL()" type="submit" class="btn btn-primary my-1"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    {% if data %}
        <h2 class="text-center display-5 mt-5">
            {% if TypeOfTable == 1%}
                Number of confirmed cases per day
            {% elif TypeOfTable == 2 %}
                Number of deaths per day
            {% else %}
                Number of recovered cases per day
            {% endif %}
            in {{ County }}, {{ State }}
        </h2>
        <table class="table table-dark mt-5">
            <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Number</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                  <td>{{ row.date }}</td>
                  <td>{{ row.number }}</td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}